* {
    box-sizing: border-box;
    color: #333;
}

.btn {
    display: inline-block;
    margin-bottom:10px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #f1c40f;
    font-size:18px;
    text-decoration: none;
}
  
.btn:hover {
    background-color: #d4ac0d;
    text-decoration: underline;
}


.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 20px;
}

.community-container > div {
    width: 95%;
    max-width: 800px;
}

.community-board {
    margin-top: 0;
    padding-top: 0;
    border-top: 3px solid #f1c40f;
    border-bottom: 1px solid #f1c40f;
    background-color: #fffbe6;
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    border-collapse: collapse;
    width: 100%;
}

.community-board th,
.community-board td {
    border: 1px solid #dcdcdc;  
    padding: 12px;
    font-size:13px; /
}

.table-head th {
    background-color: #fdf4b2; 
    font-weight: bold;
}

.write-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.write-form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    background-color: #ddd5d5;
    padding: 30px;
    border-radius: 12px;
}


.write-form div label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}


#write-title,
#content {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fcfcfc;
}

#write-title:focus,
#content:focus {
    border-color: #f1c40f;
    outline: none;
}

textarea {
    resize: none;
}

#content {
    height: 400px;
}


.write-top,
.write-bottom {
    text-align: right;
}


.write-btn-flex {
    display: flex;
    justify-content: flex-end;
}


#write-btn {
    width: 100px;
    padding: 10px;
    background-color: #f1c40f;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

#write-btn:hover {
    background-color: #d4ac0d;
}


.view-container {
    max-width: 800px;
    margin: 60px auto;
    padding: 40px;
    background-color: #fefefe;
    border-radius: 16px;
}

#view-content{
    width: 400px;
    height: 400px;
}